// Body
$body-color: #fff;
$font-family-base: "Plus Jakarta Sans", sans-serif;

// Card
$card-spacer-y: 1.5rem;
$card-spacer-x: 1.5rem;
$card-border-radius: 1.25rem;

// Table
$table-bg: transparent;
$table-border-color: rgb(45, 55, 72);
$table-color: #fff;

// Color
$red: #e31a1a;
$green: #01b574;
